vendor/
tmp/
composer.lock
composer.phar
phpunit.phar
.phpunit.result.cache
config/Migrations/schema-dump-default.lock

# IDE and editor specific files #
#################################
nbproject/
.idea/
