parameters:
	level: 8
	paths:
		- src/
	excludePaths:
		- src/Shell/
	bootstrapFiles:
		- tests/bootstrap.php
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#Access to an undefined property Cake\\ORM\\BehaviorRegistry::\$Search#'
