parameters:
	level: 8
	paths:
		- src/
	bootstrapFiles:
		- tests/bootstrap.php
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#Access to an undefined property Cake\\ORM\\BehaviorRegistry::\$Search#'

includes:
	- vendor/cakedc/cakephp-phpstan/extension.neon
