/** containers **/
div.database_logger_plugin div.form,
div.database_logger_plugin div.index,
div.database_logger_plugin div.view {
	border-left:1px solid #666;
	padding:10px 2%;
	min-height: 300px;
}
div.database_logger_plugin div.actions {
	float:left;
	width:16%;
	padding:10px 1.5%;
}
div.database_logger_plugin div.actions h3 {
	padding-top:0;
	color:#777;
}
div.database_logger_plugin #admin_filter form input[type="image"]{
	position: relative;
	top: 10px;
}

/** Tables **/
div.database_logger_plugin table {
	background: #fff;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
div.database_logger_plugin th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
div.database_logger_plugin th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
div.database_logger_plugin th a.asc:after {
	content: ' ⇣';
}
div.database_logger_plugin th a.desc:after {
	content: ' ⇡';
}
div.database_logger_plugin table tr td {
	background: #fff;
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
div.database_logger_plugin table tr:nth-child(2n) td {
	background: #f5f5f5;
}
div.database_logger_plugin table .altrow td {
	background: #f5f5f5;
}
div.database_logger_plugin td.actions {
	text-align: center;
	white-space: nowrap;
}
div.database_logger_plugin table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}

/** Paging **/
div.database_logger_plugin div.paging {
	background:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
div.database_logger_plugin div.paging span.disabled {
	color: #ddd;
	display: inline;
}
div.database_logger_plugin div.paging span.current {
	color: #c73e14;
}
div.database_logger_plugin div.paging span a {
}

/** Scaffold View **/
div.database_logger_plugin dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
div.database_logger_plugin dl .altrow {
	background: #f4f4f4;
}
div.database_logger_plugin dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
div.database_logger_plugin dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/** Forms **/
div.database_logger_plugin form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
div.database_logger_plugin fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 16px 20px;
}
div.database_logger_plugin fieldset legend {
	background:#fff;
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
div.database_logger_plugin fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
div.database_logger_plugin fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
div.database_logger_plugin fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
div.database_logger_plugin form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
div.database_logger_plugin form .input {
	color: #444;
}
div.database_logger_plugin form .required {
	font-weight: bold;
}
div.database_logger_plugin form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
div.database_logger_plugin form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
div.database_logger_plugin label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}
div.database_logger_plugin input, div.database_logger_plugin textarea {
	clear: both;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 1%;
	width:98%;
}
div.database_logger_plugin #admin_filter input {
	clear: none;
	width: auto;
}
div.database_logger_plugin select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
div.database_logger_plugin select[multiple=multiple] {
	width: 100%;
}
div.database_logger_plugin option {
	font-size: 120%;
	padding: 0 3px;
}
div.database_logger_plugin input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.database_logger_plugin div.checkbox label {
	display: inline;
}
div.database_logger_plugin input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.database_logger_plugin div.radio label {
	margin: 0 0 6px 20px;
}
div.database_logger_plugin input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}
div.database_logger_plugin form .submit input[type=submit] {
	background:#62af56;
	background: -webkit-gradient(linear, left top, left bottom, from(#a8ea9c), to(#62af56));
	background-image: -moz-linear-gradient(top, #a8ea9c, #62af56);
	border-color: #2d6324;
	color: #000;
	text-shadow: #8cee7c 0px 1px 0px;
}
div.database_logger_plugin form .submit input[type=submit]:hover {
	background:#4ca83d;
	background: -webkit-gradient(linear, left top, left bottom, from(#85e573), to(#4ca83d));
	background-image: -moz-linear-gradient(top, #85e573, #4ca83d);
}

/** Notices and Errors **/
div.database_logger_plugin div.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	background: #c73e14;
	padding: 5px;
}
div.database_logger_plugin div.error-message {
	clear: both;
	color: #fff;
	font-weight: bold;
	background: #c73e14;
}
div.database_logger_plugin p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
div.database_logger_plugin p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
div.database_logger_plugin .notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
div.database_logger_plugin .success {
	background: green;
	color: #fff;
}

/**  Actions  **/
div.database_logger_plugin div.actions ul {
	margin: 0;
	padding: 0;
}
div.database_logger_plugin div.actions li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}
div.database_logger_plugin div.actions ul li a {
	font-weight: normal;
	display: block;
	clear: both;
}
div.database_logger_plugin div.actions ul li a:hover {
	text-decoration: underline;
}

div.database_logger_plugin input[type=submit],
div.database_logger_plugin div.actions ul li a,
div.database_logger_plugin td.actions a {
	font-weight:normal;
	padding: 4px 8px;
	background:#e6e49f;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1d4), to(#e6e49f));
	background-image: -moz-linear-gradient(top, #f1f1d4, #e6e49f);
	color:#333;
	border:1px solid #aaac62;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	text-decoration:none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
}
div.database_logger_plugin input[type=submit]:hover,
div.database_logger_plugin div.actions ul li a:hover,
div.database_logger_plugin td.actions a:hover {
	background: #f0f09a;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7e1), to(#eeeca9));
}

/** Related **/
div.database_logger_plugin div.related {
	clear: both;
	display: block;
}